.breadcrumb {
  padding-left: 2em;
  margin: 1em 0;
}

.content-card {
  margin: 1em 0;
  padding: 1.5em 2em;
  background: #fff;
}

.content-container {
  margin: 1em 2em;
}

.content-title {
  color: #000c17;
  font-size: 1.5em;
  font-weight: 500;
}
