$primary-color: #0078f2;

$primary-text: #fff;
$secondary-text: rgba(255, 255, 255, 0.75);
$tertiary-text: rgba(255, 255, 255, 0.5);

$primary-background: #121212;
$secondary-background: #2a2a2a;

@use "sass:color";

@function darken($color, $number) {
  @return scale-color($color, $lightness: -$number);
}

@function lighten($color, $number) {
  @return scale-color($color, $lightness: $number);
}

@mixin dark-markdown {
  color: $tertiary-text;

  & /deep/ h1,
  & /deep/ h2,
  & /deep/ h3,
  & /deep/ h4,
  & /deep/ h5,
  & /deep/ h6 {
    color: $secondary-text;
  }
}
